* {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    line-height: 35px;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282828;
}

button {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    line-height: 35px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}



.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 40px;
}


.navbar {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5%;
    position: fixed;
    z-index: 2;
    box-shadow: #ffffff 0px 0px 10px;
    border-radius: 1%;
    text-transform: uppercase;
    font-size: 12px;
}

.resume {
    width: 1000px;
    height: auto;
    margin: auto;
    padding: 50px;
}

.resume, .about-me-container {
    background-color: rgba(43, 50, 63, 0.49);
    box-shadow: #ffffff 0px 0px 10px;
    border: white 2px solid;
    border-radius: 1%;
    padding: 50px;
}

.resume:hover, .about-me-container:hover {
    background-color: rgba(43, 50, 63, 0.73);
    box-shadow: #ffffff 0px 0px 15px;
    border: white 3px solid;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.resume-item {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.resume-title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.resume-company {
    text-align: left;
}

.resume ul {
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
    list-style: square;
}

.resume-bullet {
    margin: 0;
    padding: 0;
}

.headshot {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: white 3px solid;
    box-shadow: #ffffff 0px 0px 10px;
    object-fit: cover;
    position: relative;
    z-index: 1;
    filter: brightness(80%);
}

.about-me-container {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    text-align: left;
    padding: 50px;
    margin-top: 100px;
}


@media (max-width: 768px) {

    * {
        font-size: 12px;
        line-height: 15px;
    }

    .resume, .about-me-container {
        width: 90%; /* This will apply to both */
        padding: 25px; /* Adjust as needed */
        box-sizing: border-box; /* Ensures padding is included in the width */
        margin-top: 50px; /* Same top margin for visual consistency */
        background-color: rgba(43, 50, 63, 0.49);
        box-shadow: #ffffff 0px 0px 10px;
        border: white 2px solid;
        border-radius: 1%;

    }

    .parent-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    .headshot {
        width: 250px;
        height: 250px;
    }

    .about-me-container {

        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }

    .resume {
        height: auto;
        padding: 0;
    }


    .navbar {
        font-size: 10px;
    }

    .section-title {
        font-size: 14px;
    }

}

